.register-form {
  padding: 16px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.register-form__title {
  text-align: center;
}

.register-form .btn__form:active {
  filter: brightness(1.2);
}
