.separator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
}

.separator::before,
.separator::after {
  content: '';
  width: calc(50% - 1em);
  height: 2px;
  background-color: var(--secondary);

  display: block;
  border-radius: 2px;
}
